
.container { 
    width:100%;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

.node {
}

.link { 
  stroke: #999; 
  stroke-opacity: .6; 
  stroke-width: 1px; 
}

.graph-container {
    position: relative;
}

.graph-categories {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    overflow: hidden;
}

.node-content-wrapper {
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 0px 5px;
}

.d3 {
    display: inline-block;
    width: 74%;
}

.table-wrapper {
    position: relative;
    display: inline-block;
    width: 70%;
}

table, th, td {
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.graph-tab-buttons {

}

.graph-tab-button {
    display: inline-block;
    margin: 2px;
}

.button-active {
    border: 1px solid green;
}

.graph-tabs {

}

.graph-tab {
    height: 400px;
}

.graph-inactive {
    display: none;
}

.graph-columns {
    height: 680px;
}

.graph-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
    max-width: 500px;
    height: 600px;
    padding-bottom: 20px;
    width: 400px;
}

.example-spacer {
  flex: 1 1 auto;
}

.filter-title {
    display: inline-block !important;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.tree-container {
  height: 482px;
}

tree-viewport {
  height: calc(100% + 32px) !important;
}

.button-disabled {
    opacity: 0.15;
}

.svg-background {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 60px;
    height: calc(100% - 80px);
    pointer-events: none;
}

.svg-line-click {
    cursor: pointer;
    pointer-events: all;
    stroke-width: 20px;
    opacity: .0;
}

.svg-line-visible {
    stroke: #b7b5b5;
}

.svg-line-active {
    stroke: black;
    stroke-width: 2;
}

.mat-tab-label {
    min-width: 50px !important;
    padding: 0px !important;
}

mat-card {
  width: 100% !important;
  height: calc(100% - 32px) !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

mat-checkbox {
    margin-left: 10px !important;
}

.filter-field {
    width: 100%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}

.coverage-box {
    padding: 10px;
}