<h2>My StandardMaps</h2>

<!--<div>
  <label>StandardMap name:
    <input #standardMapName />
  </label>
  <button (click)="add(standardMapName.value); standardMapName.value=''">
    add
  </button>
</div>

<ul class="standard-maps">
  <li *ngFor="let standardMap of standardMaps">
    <a routerLink="/detail/{{standardMap.id}}">
      <span class="badge">{{standardMap.id}}</span> {{standardMap.name}}
    </a>
    <button class="delete" title="delete standardMap"
      (click)="delete(standardMap)">x</button>
  </li>
</ul>-->
