<h2 mat-dialog-title>Data Contribution</h2>
<mat-dialog-content class="mat-typography">
  <p>To request or submit any changes to the data, please take the following steps:</p>
  <ol>
    <li>Download the XLSX data set from: <a href="/assets/database.xlsx">Download Here</a></li>
    <li>Add comments to the Excel file where you would like to make changes.</li>
    <li>Email the changed Excel file to Alex Li: <a href="mailto:alli@Microsoft.com">alli@Microsoft.com</a> Include your:
      <ul>
        <li>Name</li>
        <li>Organization</li>
        <li>A description of your changes</li>
      </ul>
    </li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
