<h2 mat-dialog-title>Data Contribution</h2>
<mat-dialog-content class="mat-typography">
  <p>This project welcomes contributions and suggestions. Most contributions require you to agree to a Contributor License Agreement (CLA) declaring that you have the right to, and actually do, grant us the rights to use your contribution. For details, visit <a title="Microsoft Contributor License Agreement" href="https://cla.microsoft.com" target="_blank" rel="noopener">https://cla.microsoft.com</a>
</p>
<p>When you submit a pull request, a CLA-bot will automatically determine whether you need to provide a CLA and decorate the PR appropriately (e.g., label, comment). Simply follow the instructions provided by the bot. You will only need to do this once across all repositories using our CLA.</p>
<p>This project has adopted the [Microsoft Open Source Code of Conduct]<a title="Microsoft Open Source Code of Conduct" href="https://opensource.microsoft.com/codeofconduct/" target="_blank" rel="noopener"><span class="hljs-link">https://opensource.microsoft.com/codeofconduct/</span></a>). For more information see the [Code of Conduct FAQ](<a title="Code of Conduct FAQ" href="https://opensource.microsoft.com/codeofconduct/faq" target="_blank" rel="noopener">https://opensource.microsoft.com/codeofconduct/faq</a>) or contact [opencode@microsoft.com](<a title="email Microsoft Open Source Contact" href="mailto:opencode@microsoft.com"><span class="hljs-link">mailto:opencode@microsoft.com</span></a>) with any additional questions or comments.</p>
  <p>If you want to submit changes but not familiar with GitHub pull request, please take the following steps:</p>
  <ol>
    <li>Download the XLSX data set from: <a href="/assets/database.xlsx">Download Excel File</a></li>
    <li>Turn on track changes and add comments to the Excel file where you would like to make changes.</li>
    <li>
      Email the changed Excel file to Project Team Email: <a href="mailto:c8b7f414.microsoft.com@amer.teams.ms">c8b7f414.microsoft.com@amer.teams.ms</a> Include your:
      <ul>
        <li>Name</li>
        <li>Organization</li>
        <li>A description of your changes</li>
      </ul>
    </li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
