<h2 mat-dialog-title>Credits</h2>
<mat-dialog-content class="mat-typography">
  <ul style="list-style-type:none">
    <li><span><strong>Project Sponsor:</strong> Microsoft</span></li>
    <li><span><strong>Project Lead:</strong> Alex Li</span></li>
    <li><span><strong>Data Curators:</strong> Alex Li, Lanx Goh, Eric Lachaud</span></li>
    <li><span><strong>Code Committers:</strong> Alex Li, Benjamin Wong, Jieying Chng</span></li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
