<h2 mat-dialog-title>Credits</h2>
<mat-dialog-content class="mat-typography">
  <ul style="list-style-type:none">
    <li><span><strong>Project Sponsor:</strong> Microsoft</span></li>
    <li><span><strong>Project Lead:</strong> Alex Li</span></li>
    <li><span><strong>Original Mapping Contributors:</strong> ISO/IEC JTC 1 SC27 for GDPR; Alex Li, Alec Christie and his Digital Law team (currently at Mills Oakley)</span></li>
    <li><span><strong>Data Curators:</strong> Joyce Chua, Eric Lachaud, Alex Li,and James Wong</span></li>
    <li><span><strong>Code Committers:</strong> Alex Li</span></li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
