<h2 mat-dialog-title>Disclaimer</h2>
<mat-dialog-content class="mat-typography">
  The material available at this web site are for informational purposes only and not for the purpose of providing legal advice. All material provided under MIT license. All material is provided “as is”, without warranty of any kind, expressed or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the data contributors, data curators, code committers, or copyright holders be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise, arising from, out of or in connection with the material or the use of other dealings in the material.
  Comprehensive understanding and application of the web site material require users to obtain the ISO/IEC 27701 standard and its normative reference. Respecting the standards’ copyrights holders, this web site does not disclose the full text of ISO/IEC 27701 or its normative reference. Users may obtain ISO/IEC 27701 and its normative reference from ISO, IEC, National Standards Organizations, or, in some cases, reference libraries.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
