<h2 mat-dialog-title>Feedback</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Data Protection Mapping Project welcomes all feedback from the community.
  </p>
  <p>Please let us know what you think and how we can improve by <a href="https://www.linkedin.com/company/dpmap" target="_blank">LinkedIn</a> or email to <a href="mailto:c8b7f414.microsoft.com@amer.teams.ms">c8b7f414.microsoft.com@amer.teams.ms</a></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
