<h2 mat-dialog-title>How to use this site</h2>
<mat-dialog-content class="mat-typography">
  <h2>Documenation:</h2>

  <!--FILEPATH IS CASE SENSITIVE-->
  <a href="/assets/How-To.docx">How-To.docx</a>
  <h2> </h2><!--Leave some vertical space-->

  <h2>App Interface:</h2>
  <div>Videos Coming soon.</div>

  <!--<h2>App Interface:</h2>
  <video width="560" height="315" src="https://msftcela.blob.core.windows.net/msft-cela/Standards-mapping%20App%20Demo.mp4?sp=r&st=2019-09-03T17:46:10Z&se=2020-09-04T01:46:10Z&spr=https&sv=2018-03-28&sig=3N96k%2BHMKA2eVPF2nz6FVNiQ7Co68ViKspTiuIqd14k%3D&sr=b" frameborder="0" allowfullscreen controls></video>

  <h2>Data Ingestion:</h2>
  <video width="560" height="315" src="https://msftcela.blob.core.windows.net/msft-cela/Dev%20Tools.mp4?sp=r&st=2019-09-03T17:44:27Z&se=2020-09-04T01:44:27Z&spr=https&sv=2018-03-28&sig=FFeTfhs7bYOtxw6p2YwRPQTvdgraWWZumvGzYHeCZyU%3D&sr=b" frameborder="0" allowfullscreen controls></video>-->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--<button mat-button mat-dialog-close>Cancel</button>-->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
